USE [Matlab]
GO
/****** Object:  Table [dbo].[Registrations]    Script Date: 20.01.2025 14:08:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registrations](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Lastname] [nvarchar](50) NULL,
	[Age] [int] NULL,
	[Birthdate] [date] NULL,
	[Zodiac_sign] [nvarchar](50) NULL
) ON [PRIMARY]
GO
